.video-js vjs-fluid vjs-default-skin{
    size: 10cm;
}

.butto{
    display: grid;
    place-items: center;

}
.buttoo{
    display: grid;
    place-items: center;
}

button{
    background-color: black;
    color: red;
    height: 100px;
    width: 150px;
}
/* #my_video_2{
    padding
} */
.space{
    padding-top: 100px;
}